
@{
    ViewBag.Title = "AddTask";
}

<h2>Add a new Task</h2>

<form action="/Home/SaveNewTask" method="post">
	<label>Description: </label> <input type="text" name="description" class="form-control" />
	<label>Task Due Date: </label> <input type="date" name="duedate" class="form-control" />
	<br />
	<button type="submit" class="btn btn-default">Add Task</button>
	@*<input type="submit" value="Add Task" class="form-control" />*@
</form>